<div class="olControlPanel" *ngIf="isLocationAvailable">
    <img src="https://unpkg.com/leaflet@1.3.4/dist/images/marker-icon.png" style="border: 0px;" />
</div>
<div id="coordinates" class="coordinates" *ngIf="isLocationAvailable">
  {{ coordinatesMessage }}
</div>
<div class="zoom-controls">  
  <button mat-mini-fab color="white" class="btn" (click)="toggleLocationAvailability()" title="Minha Localização" matTooltip="Enabled" [matTooltipDisabled]="!isLocationAvailable" [class.active]="isLocationAvailable">
    <mat-icon>location_on</mat-icon>
  </button>
</div>
  