DATABASE_URL =

DB_HOST =
DB_NAME =
DB_PASSWORD =
DB_PORT =
DB_SCHEMA =
DB_USER =

DW_DB_HOST =
DW_DB_USER =
DW_DB_PASSWORD =
DW_DB_DATABASE =
DW_DB_INSTANCE =

RASTER_BASE_PATH=
GEOSERVER_RASTER_PATH=

ENTRA_TENANT_ID=
ENTRA_CLIENT_ID=
ENTRA_CLIENT_SECRET=
ENTRA_REDIRECT_URI=
