#
# Apache HTTP Server Configuration File
#

ServerRoot "/usr/local/apache2"
ServerName localhost:4200
Listen 4200
Timeout 300

# Load modules
LoadModule mpm_event_module modules/mod_mpm_event.so
LoadModule authn_file_module modules/mod_authn_file.so
LoadModule authn_core_module modules/mod_authn_core.so
LoadModule authz_host_module modules/mod_authz_host.so
LoadModule authz_groupfile_module modules/mod_authz_groupfile.so
LoadModule authz_user_module modules/mod_authz_user.so
LoadModule authz_core_module modules/mod_authz_core.so
LoadModule access_compat_module modules/mod_access_compat.so
LoadModule auth_basic_module modules/mod_auth_basic.so
LoadModule reqtimeout_module modules/mod_reqtimeout.so
LoadModule filter_module modules/mod_filter.so
LoadModule deflate_module modules/mod_deflate.so
LoadModule mime_module modules/mod_mime.so
LoadModule log_config_module modules/mod_log_config.so
LoadModule env_module modules/mod_env.so
LoadModule headers_module modules/mod_headers.so
LoadModule setenvif_module modules/mod_setenvif.so
LoadModule version_module modules/mod_version.so
LoadModule proxy_module modules/mod_proxy.so
LoadModule proxy_connect_module modules/mod_proxy_connect.so
LoadModule proxy_http_module modules/mod_proxy_http.so
LoadModule ssl_module modules/mod_ssl.so
LoadModule unixd_module modules/mod_unixd.so
LoadModule status_module modules/mod_status.so
LoadModule autoindex_module modules/mod_autoindex.so
LoadModule dir_module modules/mod_dir.so
LoadModule alias_module modules/mod_alias.so
LoadModule rewrite_module modules/mod_rewrite.so

<IfModule unixd_module>
    User daemon
    Group daemon
</IfModule>

# Global configurations
ServerAdmin you@example.com
DocumentRoot "/usr/local/apache2/htdocs"
ErrorLog /proc/self/fd/2
LogLevel warn
<IfModule log_config_module>
    LogFormat "%h %l %u %t \"%r\" %>s %b" common
    CustomLog /proc/self/fd/1 common
</IfModule>

# Security
<Directory />
    AllowOverride none
    Require all denied
</Directory>

<Directory "/usr/local/apache2/htdocs">
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
    
    # Angular SPA routing
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    RewriteCond %{REQUEST_URI} !^/geoserver-proxy
    RewriteRule ^ index.html [L]
</Directory>

<Files ".ht*">
    Require all denied
</Files>

<IfModule dir_module>
    DirectoryIndex index.html
</IfModule>

# Proxy configurations
SSLProxyEngine On
SSLProxyVerify none
SSLProxyCheckPeerCN off
SSLProxyCheckPeerName off
ProxyRequests Off
ProxyPreserveHost On
ProxyVia On

# GeoServer proxy - Comprehensive fix
ProxyPass /geoserver-proxy/ https://${GEOSERVER_HOST}/geoserver/ nocanon
ProxyPassReverse /geoserver-proxy/ https://${GEOSERVER_HOST}/geoserver/

<Location /geoserver-proxy/>
    Require all granted
    
    # Turn off proxy headers to prevent interference
    ProxyAddHeaders Off
    
    # Set important headers
    RequestHeader set X-Forwarded-Proto "https"
    RequestHeader set X-Forwarded-Host "localhost:4200"
    RequestHeader set X-Forwarded-Server "localhost:4200"
    RequestHeader set X-Forwarded-For "%{REMOTE_ADDR}s"
    RequestHeader set Host "${GEOSERVER_HOST}"
    
    # Handle cookies and redirects
    ProxyPassReverseCookieDomain ${GEOSERVER_HOST} localhost:4200
    ProxyPassReverseCookiePath /geoserver /geoserver-proxy
    
    # Disable caching
    Header always set Cache-Control "no-cache, no-store, must-revalidate"
    Header always set Pragma "no-cache"
    Header always set Expires "0"
    
    # Turn off mod_security if it's enabled
    <IfModule security2_module>
        SecRuleEngine Off
    </IfModule>
</Location>

# OpenStreetMap Tiles Proxy
ProxyPass /tile-proxy/ https://tile.openstreetmap.org/ nocanon
ProxyPassReverse /tile-proxy/ https://tile.openstreetmap.org/

<Location /tile-proxy/>
    Require all granted
    ProxyAddHeaders Off
    RequestHeader set Host "tile.openstreetmap.org"
    RequestHeader set X-Forwarded-Proto "https"
</Location>

# ArcGIS World Imagery
ProxyPass /imagery/ https://services.arcgisonline.com/arcgis/rest/services/World_Imagery/MapServer/ nocanon
ProxyPassReverse /imagery/ https://services.arcgisonline.com/arcgis/rest/services/World_Imagery/MapServer/

<Location /imagery/>
    Require all granted
    ProxyAddHeaders Off
    RequestHeader set Host "services.arcgisonline.com"
    RequestHeader set X-Forwarded-Proto "https"
</Location>

# ArcGIS World Topo Map
ProxyPass /topo/ https://services.arcgisonline.com/arcgis/rest/services/World_Topo_Map/MapServer/ nocanon
ProxyPassReverse /topo/ https://services.arcgisonline.com/arcgis/rest/services/World_Topo_Map/MapServer/

<Location /topo/>
    Require all granted
    ProxyAddHeaders Off
    RequestHeader set Host "services.arcgisonline.com"
    RequestHeader set X-Forwarded-Proto "https"
</Location>

# ArcGIS World Physical Map
ProxyPass /physical/ https://services.arcgisonline.com/arcgis/rest/services/World_Physical_Map/MapServer/ nocanon
ProxyPassReverse /physical/ https://services.arcgisonline.com/arcgis/rest/services/World_Physical_Map/MapServer/

<Location /physical/>
    Require all granted
    ProxyAddHeaders Off
    RequestHeader set Host "services.arcgisonline.com"
    RequestHeader set X-Forwarded-Proto "https"
</Location>

# ArcGIS World Street Map
ProxyPass /street/ https://services.arcgisonline.com/arcgis/rest/services/World_Street_Map/MapServer/ nocanon
ProxyPassReverse /street/ https://services.arcgisonline.com/arcgis/rest/services/World_Street_Map/MapServer/

<Location /street/>
    Require all granted
    ProxyAddHeaders Off
    RequestHeader set Host "services.arcgisonline.com"
    RequestHeader set X-Forwarded-Proto "https"
</Location>

# SSL configurations
<IfModule ssl_module>
    SSLRandomSeed startup builtin
    SSLRandomSeed connect builtin
</IfModule>

# Additional configurations
Include conf/extra/httpd-deflate.conf